.App{
    .file-preview{
        width: 600px;
        height: 400px;
        background-color: rgba(255,255,255,0.6);
        border-radius: 16px;
        text-align: center;
        line-height: 400px;
        font-size: 36px;
    }

    img{
        width: auto;
        height: 100%;
    }
}

nav{
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    width: 300px;
    padding: 0 8px;


    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        
        li{
            flex: 1;
            
            a{
                text-decoration: none;

                // :visited, :link, :hover, :active{
                //     color: black;
                // }
            }
        }
    }
}