.doneList{
    list-style: none;
    padding: 0;

    li{
        display: flex;
        background-color: #fff;
        margin-top: 3px;
        padding: 5px;
        border-radius: 5px;

        div{
            flex: 3;
            margin-left: 10px;
            
            &:last-child{
                flex: 1;
                text-align: center;
                background-color: #f00;
            }
        }
    }
}