.todoList{
    list-style: none;
    padding: 0;

    li{
        display: flex;
        background-color: #fff;
        margin-top: 3px;
        padding: 5px;
        border-radius: 5px;

        div{
            flex: 1;
            text-align: center;
            &:first-child{
                text-align: left;
                margin-left: 10px;
                flex: 3;
            }

            &:nth-child(2){
                background-color: #0f0;
            }
            &:last-child{
                background-color: #f00;
            }
        }
    }
}